[2017-01-17 02:45] JasonBev opened #1 "Mobile BigText field not showing Lookup"
In mobile mode bigtext fields aren't populating the dropdown functionality, they are showing as purely text fields.

[2017-01-17 02:49] JasonBev opened #2 "Reports - Images overlapping when email/PDF is used"
This bug was found at HWNS (Item no; 2156)
Further R & D is required to fix the overlapping of headers (images) for all Reports. This problem is happening when using the Email PDF feature in the report.

In previous item there was a fix found for the images to show but this would be an issue with all reports for hwns that use those images, and possibly all sites (haven't checked) relating to expor

[2017-01-19 02:37] paulfisher53 commented on #2
This is an issue with a 3rd party library. Currently the issue is under review by their team.

Until they release a new version I could load a work-around bug fix that would remove the header on page 2 and onward when sending as an email.

Do you want me to do that?

[2017-01-19 02:47] paulfisher53 commented on #1
[Fix.zip](https://github.com/LiveappSolutions/Liveapp/files/715562/Fix.zip)

Fixed. Merge the attached zip.

[2017-01-19 02:48] paulfisher53 commented on #1
Will be release in v4.2-CU5

[2017-01-19 02:48] #1 closed, assigned to paulfisher53

[2017-01-24 00:39] JasonBev opened #3 "Mobile Grid Functions"
Reported from Client Plan issue with the column header functionality not working in mobile mode. The following functions need adding-

*SetColumnCaption
*ShowColumn
*HideColumn

e.g    viewer.GetPageGrid().SetColumnCaption("Action",t.ActionLabel);

[2017-01-24 04:50] JasonBev commented on #2
Yes please.

[2017-01-24 22:56] paulfliveware opened #4 "Liveapp Console: Add pause command"
Please add a pause command to the liveapp console that works like command line pause.

Don't pause if executing the script from command arguments

[2017-01-26 21:05] paulfisher53 commented on #2
Developed a work around as per my last comment.

Please load this [Fix.zip](https://github.com/LiveappSolutions/Liveapp/files/733595/Fix.zip)

[2017-01-26 21:05] #2 closed, assigned to paulfisher53

[2017-01-26 21:26] paulfisher53 commented on #3
Done.

Please load [Fix.zip](https://github.com/LiveappSolutions/Liveapp/files/733640/Fix.zip)

[2017-01-26 21:26] #3 closed, assigned to paulfisher53

[2017-01-26 21:58] paulfisher53 commented on #4
Done. Please get a new version of the console.

Run the following command in the Liveapp Console:

[code]

[2017-01-26 21:58] #4 closed, assigned to paulfisher53

[2017-01-27 00:12] JasonBev opened #5 "Date field not stripping time on insert"
Progress notes entered are leaving a time stamp of when the user entered the note despite it being a time field (not a datetime), we need to have it strip the time part in the framework as it is causing issues with sorting/order by.

[2017-02-01 20:49] paulfisher53 commented on #5
Fixed. Please merge this [Fix.zip](https://github.com/LiveappSolutions/Liveapp/files/746115/Fix.zip)

[2017-02-01 20:49] #5 closed, assigned to paulfisher53

[2017-02-03 02:49] JasonBev opened #6 "On delete flag not resetting after Error"
Incident Config page. If you get an error due to table keys not being unique (severity/likelihood) for overall risk calculation and then try to delete that row it remains there until you re-open the page.

The default delete functionality needs to be enabled after an error occurs.

[2017-02-03 04:42] JasonBev opened #7 "Convert NewColumnOrder function to Mobile"
For use in client plan line sorting for mobile view

[2017-02-12 00:55] paulfisher53 commented on #6
Done. A flag was not getting reset correctly on error. Please load this [Fix.zip](https://github.com/LiveappSolutions/Liveapp/files/769022/Fix.zip)

[2017-02-12 00:55] #6 closed, assigned to paulfisher53

[2017-02-17 02:31] adamLiveware opened #8 "Allow to ignore the Customised field"
Sometimes we need to update all objects in a solution, even if they are customised. Currently we need to update the field on every object. It would be desirable to have a way to override this behaviour so we don't have to do this update. Mostly we will use this in build scripts so we need it mostly for the console, but ideally it should be available in the GUI as well.

[2017-03-01 23:36] adamLiveware opened #9 "Allow to suppress update popups"
As a super user, I would like to be able to suppress the update popups for solutions and framework because I never use them and always dismiss them. This is not a critical issue, just a bit of an annoyance.

[2017-03-08 09:24] paulfisher53 commented on #7
Done. Please merge this [Fix.zip](https://github.com/LiveappSolutions/Liveapp/files/827144/Fix.zip)

[2017-03-10 02:36] JasonBev opened #10 "Exception thrown in Confirm Callback"
Related to work item #2702 - Client Summary - Create/Update NAV

During a $wait() an Application.Error is being thrown but it's not getting to the message/code

[2017-03-12 23:33] paulfisher53 commented on #9
Added a new web service function "SolutionUpdateForce". Please load [Patch.zip](https://github.com/LiveappSolutions/Liveapp/files/836990/Patch.zip)

To call from your script:
[code]
We will be adding this function to the GUI in the next version.

[2017-03-12 23:33] #9 closed, assigned to paulfisher53

[2017-03-12 23:34] paulfisher53 commented on #8
Added a new web service function "SolutionUpdateForce". Please load [Patch.zip](https://github.com/LiveappSolutions/Liveapp/files/836990/Patch.zip)

To call from your script:
[code]
We will be adding this function to the GUI in the next version.

[2017-03-12 23:34] #8 closed, assigned to paulfisher53

[2017-03-12 23:35] paulfisher53 commented on #9
Done. Please load [Patch.zip](https://github.com/LiveappSolutions/Liveapp/files/836992/Patch.zip)

Set the setting "CHECK_UPDATES" in web.config setting to FALSE

[2017-03-13 01:45] adamLiveware opened #11 "Chrome incorrectly interprets fields as username/password in Partner Portal"
Using Chrome, when I login to https://dev.liveapp.com.au/Partner and open a license card, Chrome will auto-fill Auth Code with username and Password with password if I have saved the login credentials for the site into Chrome. I am not very familiar with how Chrome (and other browsers) determine whether fields are username/password fields, but I have read that for Chrome:
- The password field must

[2017-03-13 05:18] paulfisher53 commented on #11
Hi Adam, I've read about this issue and I think I have a fix for it. As I can't replicate the issue on my version of chrome, can you please give it a test for me? I have applied the fix to the partner portal

[2017-03-13 05:45] adamLiveware commented on #11
My version of Chrome is 57.0.2987.98, are you using an earlier version?

I opened MAIWELTEST and LIVEDEMO and it is now ok with a saved password. I also tried in Firefox and it’s fine too, and I would have with IE but I can’t figure out how to get it to save the credentials. Perhaps the login form is not complying to the requirements for IE to save the credentials.

How much can you tell us about

[2017-03-16 23:36] JasonBev opened #12 "Jquery multiselect.js Bug"
When customers try to deselect a client from the dropdown in roster shifts they have to click each one manually (including all groups).

Look at newest version on github https://github.com/ehynds/jquery-ui-multiselect-widget to see if there is a fix and if the newest version is stable

[2017-03-22 00:56] JasonBev opened #13 "FilterToolbar.js Modifications"
A request from Apps for filters to be split and individually removable, similar to NAV. Example below. If this isn't workable for both functionality and site layout reasons (across all sites and pages) please provide feedback.

![filtertoolbar](https://cloud.githubusercontent.com/assets/25164973/24177369/2dc92910-0ef6-11e7-9f34-0f2cb5dff625.PNG)

[2017-03-26 23:49] JasonBev opened #14 "Multi Line Progress Note Graph"
Item 2170 you stated this will need a plugin for chartist.js to enable this functionality needed (separate line graphs into note types)

[2017-03-30 01:39] JasonBev opened #15 "Exif data rotating images"
On upload of a client image that appears vertical but contains exif data from an iphone it is rotated horizontally.

Look into manual rotation or updated versions of croppic.js and canvasresize.js or utilising a new currently maintained 3rd-party app.

Edit - Removed example image with exif data

[2017-04-10 01:26] jaffars opened #16 "Data access layer - Date format issue"
This issue is been noticed while modifying a record in roster page.

Need changes in LiveApp framework. Since the where condition for date format provided is not fetching a record

- Query not working
-
UPDATE [RosteredShifts] SET [Date] = '20170604 12:00:00 AM',[Start] = '20170604 08:00:00 AM',

[End] = '20170604 04:00:00 PM',[Add] = 0,[Sleepover] = 0 WHERE ([RosterID] = 20) AND ([StaffID] = 36)

[2017-04-11 07:30] paulfisher53 commented on #11
Chrome automatically tries to autofill password fields and the field directly before it (thinking it's a username field). I have added a fix to add an attribute to password fields so this does not happen.

Please merge this [Fix.zip](https://github.com/LiveappSolutions/Liveapp/files/912415/Fix.zip)

[2017-04-11 07:30] #11 closed, assigned to paulfisher53

[2017-04-17 23:26] paulfisher53 commented on #16
Hey Jaffar,
Are you able to post the javascript code that is performing the modification so I can replicate the issue?

[2017-04-20 03:42] paulfisher53 commented on #10
Fixed. Please load [Fix.zip](https://github.com/LiveappSolutions/Liveapp/files/939957/Fix.zip)

[2017-04-20 03:42] #10 closed, assigned to paulfisher53

[2017-04-21 01:40] JasonBev commented on #16
m_record.ShiftID = shiftid;
                            m_record.StaffID = staffid;
                            m_record.Start = ev.start_date;
                            m_record.End = ev.end_date;
                            m_record.Date = new Date(ev.start_date.getFullYear(), ev.start_date.getMonth(), ev.start_date.getDate(), 0, 0, 0);
                            m_record.Notes = ev.notes;

[2017-04-21 01:58] JasonBev commented on #16
When the culture is changed, it works correctly...

I have resolved this issue by making a web.config change.
<globalization uiCulture="en" culture="en-AU" />

[2017-04-21 04:54] JasonBev commented on #14
As discussed we require a noticable different colour for each subsequent line (3 in this case) and a tooltip to display which note type is which.

[2017-05-08 03:11] paulfisher53 commented on #16
Hi @jaffars ,

I have created a fix in the server DLL's. It will now format the date as "yyyy-MM-dd HH:mm:ss".

Please load the attached zip into the bin folder:

[bin.zip](https://github.com/LiveappSolutions/Liveapp/files/982264/bin.zip)

[2017-05-08 03:11] #16 closed, assigned to paulfisher53

[2017-05-08 04:03] paulfisher53 commented on #14
Done. Please merge in the attached mod:

[GraphMod.zip](https://github.com/LiveappSolutions/Liveapp/files/982342/GraphMod.zip)

[2017-05-08 04:03] #14 closed, assigned to paulfisher53

[2017-05-24 00:16] JasonBev opened #17 "Consecutive NoteBox fields in Card Page"
If you have ordered 2 or more consecutive fields on a page that have their label hidden and are noteboxes they cause the issue in image below.

Page Type: Card
Field Type: BigText
Custom Control: NotesBox
Option: hidelabel;rows:3

![image](https://cloud.githubusercontent.com/assets/25164973/26381627/8a3c4b10-4069-11e7-8af2-55824cecadf9.png)

Those are 3 consecutive fields on the left falling on th

[2017-05-29 02:24] JasonBev opened #18 "Tabbing Out of Increment Field Clears Visually"
If you tab out of a cell (as defined below) rather than mouse click out it will clear the value from view in that cell, (not delete from the DB) and a refresh will show the value again.

Page Type: List
Field: Decimal - Editable
Field Options - Delta = 0.25, Totals = True

Err msg thrown in console: Cannot read property 'v' of undefined.
Related to JQGrid - restoreCell function

![image](https://c

[2017-06-05 03:36] JasonBev opened #19 "Email Log Filter"
Liveware are interested in adding a filter option (OptionsWindow) to the liveapp handled email log page, due to long loading times/timeout errors if the log has a large amount of records.

The filters requested were - Status, Date to Send, Date Sent, User, To Address, From Address and Subject

[2017-07-04 03:17] #15 closed, assigned to paulfisher53

[2017-07-04 03:18] paulfisher53 commented on #15
Done. I have used a library called cropper:

https://fengyuanchen.github.io/cropper

I have added rotate and zoom to the control. If you need more I can add them in.

Here is the fix zip: [CropperFix.zip](https://github.com/LiveappSolutions/Liveapp/files/1120916/CropperFix.zip)

[2017-07-04 04:38] paulfisher53 commented on #12
Fixed. I have changed the control to "refresh" instead of "update" when clicking the checkboxes

[MultiComboFix.zip](https://github.com/LiveappSolutions/Liveapp/files/1120996/MultiComboFix.zip)

[2017-07-06 00:04] paulfisher53 commented on #7
Found an issue where the mobile function is not taking into account the row selector.

[2017-07-06 00:09] paulfisher53 commented on #7
Here's the new fix that takes into account the row selector [SortFix.zip](https://github.com/LiveappSolutions/Liveapp/files/1126382/SortFix.zip)

[2017-07-06 01:21] paulfisher53 opened #20 "Add material skin"
Add a skin that is similar to Google's material design

[2017-07-06 01:22] paulfisher53 opened #21 "Add to homescreen"
Allow Liveapp to ask the user if they want to add to home screen when browsing on a mobile or tablet

[2017-07-06 01:25] paulfisher53 opened #22 "HTTP_PREFIX Setting"
What is the purpose of the HTTP_PREFIX setting? We have a customer that wants to use a reverse proxy, so the connection from outside to the proxy uses SSL, but from the proxy to the web server it uses HTTP. So all calls to the web app are technically HTTP, but the URL people use is HTTPS. It seems Liveapp does not handle this the way I would expect, i.e. we need to use HTTPS for the HTTP_PREFIX se

[2017-07-06 01:26] paulfisher53 opened #23 "Session Event: Date incorrect"
Just noticed today when I went to run the daily user count report is wasn’t working for CU2 sites. Took a look and since 1/2/17 the Event Time in DEV for the Xpress Session Event table isn’t recording the info correctly, it’s displaying as 1900-01-01 (used the actual date prior), or is this intended? If it is I’ll just change the view the report uses.

[2017-07-06 03:30] paulfisher53 commented on #23
Yes, the date on "Time" fields should be "blanked out" (1900-01-01). If it was a DateTime field, it would store the date and time correctly. So with the Xpress Session Event table, it stores the date in one field and the time in the other.

[2017-07-06 03:30] #23 closed, assigned to paulfisher53

[2017-07-12 01:26] paulfisher53 commented on #7
I still get the same issue with the new fix.

e.g In screenshot below the value will have the 13 (left image). When i=1 it’s looking for the item number 12 which doesn’t exist in m_cols (right image) so it still pushes the undefined object to new_cols and new_colNames. Rather than skipping 0 and starting at 1 I need to remove the last value of the array before existing sort passes it in I guess.

[2017-07-13 06:47] JasonBev opened #24 "z-index display conflict"
CU6 changes to boxy.js can cause display conflicts. See image below, the dropdown selection list is displaying behind the boxy-wrapper.

![image](https://user-images.githubusercontent.com/25164973/28153709-4fd41fd6-67ea-11e7-87c1-598d8a33e1b4.png)

boxy-wrapper returns a z-index > autocomplete menu

Please ensure the autocomplete returns a higher z-index

CU6 Changes -
Website/Scripts/jQuery/Plugi

[2017-07-14 01:20] JasonBev opened #25 "qtip functionality for mobile"
Currently qtip is set to on hover for tooltips around the site, this needs to be changed to on click for mobile view.

qtip config-
show: 'click'

Example: Progress Notes - Role Centre (i.e Green Flags)

[2017-07-14 01:44] #7 closed, assigned to paulfisher53

[2017-07-14 01:44] paulfisher53 commented on #7
Closed, check https://github.com/LiveappSolutions/Liveapp/commit/af1c1cc05a95081aaa29f6583a1e250cd43a54f8 for the fix

[2017-07-19 05:26] JasonBev opened #26 "Header Text Colour"
When you have a dark blue as a header colour, the remove all and add all links blend in (see image).

If there are no other possible display conflicts can the following change be made?

.ui-widget-header a { color: #104070; }
.ui-widget-header a { color: %HEADERTEXTCOLOR%; }

line 245 for skins

![image](https://user-images.githubusercontent.com/25164973/28351856-f62f25e2-6c95-11e7-8c5f-a1df5ffaa3

[2017-07-24 02:40] JasonBev opened #27 "Alternative for right click functionality in Xpress"
To use shortcut notes users right click in the desktop version.

For mobile there is currently no functionality, can a dropdown button (or similar functionality) be added as a control, similar to the datepicker to enable a selection list to be used.

![rc](https://user-images.githubusercontent.com/25164973/28506184-c9da534c-706c-11e7-8563-53b314dff03c.png)

[2017-07-24 03:21] paulfisher53 commented on #12
I've replaced all the "updates" with "refresh". Please load this fix in and give it a test. Remember to refresh the instance

[MultiselectFix.zip](https://github.com/LiveappSolutions/Liveapp/files/1168724/MultiselectFix.zip)

[2017-07-24 03:31] paulfisher53 commented on #17
Please load this fix and refresh the instance:

[NotesBoxFix.zip](https://github.com/LiveappSolutions/Liveapp/files/1168737/NotesBoxFix.zip)

[2017-07-24 04:02] JasonBev commented on #17
Fix applied - Display Issues reported now resolved

[2017-07-24 05:08] paulfisher53 commented on #18
Try this fix and refresh the instance:

[IncrementFix.zip](https://github.com/LiveappSolutions/Liveapp/files/1168845/IncrementFix.zip)

[2017-07-24 05:10] #17 closed, assigned to paulfisher53

[2017-07-24 05:16] JasonBev commented on #18
File uploaded > Fix for reported issue works, tab behaviour as expected

[2017-08-09 23:31] paulfisher53 opened #28 "Allow "No Locks" during FINDSET"
Since some tables are transactional based (Only insert not an update) it’s safe to use “with (nolock)” option after the table to eliminate the locking of tables. This will improve the performance of FINDSET drastically without locking.

Need provision to add no locks for tables while querying using FINDSET or lookups.

[2017-08-16 05:20] JasonBev opened #29 "Report Headers not displaying in Xpress"
All report headers in mobile view aren't displaying their default colour as per desktop view.

![image](https://user-images.githubusercontent.com/25164973/29348200-3f63780c-8295-11e7-99e0-03785c754cb5.png)

By default Report.js references the main-title for the css which isn't present in xpress (background will show as undefined). Also the ui-widget-header has no css styling in the skins for mobil

[2017-08-20 23:14] JasonBev opened #30 "User Queue - Role Centre Display Overflow"
Depending on the users monitor/resolution etc the user queue once over 10 items will not show those items without scroll, somewhat hidden from user view as the containers have a max-height.

On load-
![image](https://user-images.githubusercontent.com/25164973/29499241-5a69626a-8650-11e7-82d0-6174e33f38ff.png)

On user scrolling down in that particular box)
![image](https://user-images.githubuserco

[2017-08-21 00:17] #12 closed, assigned to paulfisher53

[2017-08-21 00:17] #18 closed, assigned to paulfisher53

[2017-08-21 03:07] paulfisher53 commented on #13
Done, please load the attached mod. I have split the filters into individual buttons. If you click the filter, it will allow you to edit on the right side. If you click the individual "x" it will clear just that filter.

[FilterToolbarMods.zip](https://github.com/LiveappSolutions/Liveapp/files/1237658/FilterToolbarMods.zip)

[2017-08-22 00:51] JasonBev commented on #13
New feature added and working as expected - no further action required.

[2017-08-22 01:56] jaffars opened #31 "Setting multiple Reminder Dates - CIMSXpress"
TFS Ticket ID - 4241
When I create a new Reminder, After hitting the save instead of staying on the same record its refresh with some other record.
Due to this issue I could not able to proceed without closing and opening the same reminder.
This issue is happening only for new record creation for reminder functionality

This issue is specific to CIMSXpress

[2017-08-22 01:57] jaffars commented on #31
Note:- This issue is specific to CIMSXpress

[2017-08-22 02:33] #13 closed, assigned to paulfisher53

[2017-08-22 04:39] jaffars opened #32 "Report Header Background Color is not setting in CIMSXpress"
TFS Ticket - 4252
Based on my analysis
$('.main-title').css('background-color') is used in report.js below is the line
m_design += "<thead><tr style='background-color: "+$('.main-title').css('background-color')+"; color: "+$('.main-title').css('color')+"; -webkit-print-color-adjust: exact;'>%columns</tr></thead>";

In Mobile version ".main-title" class name is not available so background is settin

[2017-08-22 04:44] jaffars commented on #32
Its a Duplicate so closing

[2017-08-22 04:44] #32 closed, assigned to nobody

[2017-08-24 03:32] jaffars opened #33 "Image column in progress note is cutting off for CIMSXpress"
Hi Paul,

I did some debugging and identified the scenario.

-AdditionalStaffField contains an HTML value, It works fine in desktop
- Image field is the next field to AdditionalStaffField, Since there is a HTML not formed properly its getting cutdown in the table.

Code causing the Issue:- Grid.js - Mobile
in function - Add Columns in the below highlighted lines

m_cols.push({

[2017-09-01 00:48] paulfisher53 commented on #24
Added fix

[2017-09-01 00:48] #24 closed, assigned to paulfisher53

[2017-09-04 01:27] jaffars opened #34 "Grid Control- Desktop Version fixes"
TFS Ticket No - 4353
- No option available to disable multiselect of rows in GRID while using Ctrl+ row selection
- When a Grid refresh, its selecting the last row in default but we want 1st row to be selected as in CIMSXpress

[2017-09-05 03:13] JasonBev opened #35 "multi combo does not obey hidden flag"
Type: Card
Field: BigText - Lookup:true
CustomControl: MultiCombobox

When attempting to use code on page open or on validate to hide/show a field in xpress for the above scenario it only hides the heading, not the field (dropdown). It works in desktop.

e.g
viewer.Control("FieldName").Hide();

[2017-09-11 06:05] JasonBev opened #36 "CU7 Pageviewer Update - removed check"
Receiving errors across our development site after including CU7 update files. From basic data entry to inserting table keys. See image below-

![image](https://user-images.githubusercontent.com/25164973/30260296-da112a10-9709-11e7-8963-a2ea02e7ba2a.png)

Traced to code changes below, as there is no check on if the variable 'f' exists before var field is defined, it throws an error on the undefine

[2017-09-11 06:39] paulfisher53 commented on #36
I see the issue here and it's an easy fix. I'll get a fix to you shortly

[2017-09-12 00:19] JasonBev commented on #36
Thanks for the update. I've just added a if(f) as a temp fix for now.

[2017-09-14 05:26] jaffars opened #37 "date filter error onsave"
![image](https://user-images.githubusercontent.com/27175862/30413370-ef49f868-9960-11e7-81e6-23367dc02ddb.png)

Getting ReportDate filter issue for incident module in CIMSXpress.After degugging the issue the it was pointing to the PageViewer.js

Function - this.OnSave = function (close, skipcheck, okclicked) {
//Update filters.
     m_record.Filter(filters[i][0], f.Value);

The above line is strip

[2017-09-14 05:29] jaffars commented on #37
I added below line to provide a temporary fix

	if(f.Type=="Date")
	{
		var dt=new Date(f.Value);
		if(dt!==null)
		{
			f.Value=$.format.date(dt, 'dd/MM/yy');
		}
	}
 **m_record.Filter(filters[i][0], f.Value);** - I entered the my fix above this line on pageviewer.js->this.OnSave = function (close, skipcheck, okclicked) {

[2017-09-19 06:18] JasonBev opened #38 "Excess white space - Chartist Display cause"
There is large amount of white space displaying at the bottom of pages - causing a minor display issue as seen in the images. This has been identified after the CU7 release where tooltips were added for the chartist,js plugin.

Once you hover over the graph utilising this plugin the space is removed and the tooltips show/work as intended.

![image](https://user-images.githubusercontent.com/2516497

[2017-09-19 06:46] jaffars opened #39 "Mandatory fields accepts space and allowing to save"
Mandatory fields are not checking for a blank value.It allows a space and accepts the data.As part of mandatory field check we want liveapp to check for a valid characters.

[2017-09-21 01:09] JasonBev opened #40 "Filter Toolbar Revamp - Individual Lookup Fields not being removed"
Liveware has identified certain fields aren't getting removed from the filters when you click on the individual 'x'.

The issue appears to be when variable pagefield is defined it removes the FF$ from the filter name, this is needed for the other functions to reference the actual field until it comes to removing it from _base.Viewer().Filters().

Liveware temp fix-

Line 98 FilterToolbar.js
`retur

[2017-09-21 04:13] paulfisher53 commented on #20
I have split the Liveapp codebase to allow for this change and future changes to the client side framework. Stay tuned...

[2017-09-21 04:13] #20 closed, assigned to paulfisher53

[2017-09-21 04:14] paulfisher53 commented on #21
See issue #20 This feature will be added to the new codebase as not to effect the current codebase

[2017-09-21 04:14] #21 closed, assigned to paulfisher53

[2017-09-21 04:42] paulfisher53 commented on #19
Done. Please load the object file below:

[PAGE Xpress Email Log.zip](https://github.com/LiveappSolutions/Liveapp/files/1319979/PAGE.Xpress.Email.Log.zip)

Please let me know if this is what you want

[2017-09-25 04:16] JasonBev commented on #19
Testing have returned with these notes-

1. duplicates caused by windows username
3. when the filters were adjusted from the email log and ok is clicked the user is was taken to the last tab that they have open. the user should stay on the Email Log page.
2. previous filters should remain
5. Is it possible to have users be able to type a single word from the subject rather than it have to be exact

[2017-09-26 23:17] paulfisher53 commented on #22
I have removed this setting from the framework. Please load this DLL:

[Liveapp.Framework.Service.dll.zip](https://github.com/LiveappSolutions/Liveapp/files/1335294/Liveapp.Framework.Service.dll.zip)

[2017-09-28 04:35] paulfisher53 opened #41 "Spinner Control: Tabbing through on a grid"
Basically Caitlin discovered if you tab through the fields fairly quickly that are autosaving, e.g the progress note decimal fields in the image in https://github.com/LiveappSolutions/Liveapp/issues/18 it will either be delayed in updating or not update at all, it’s not user-friendly.

It appears there is a difference between tabbing and clicking. Tabbing runs the service again and threadend doesn

[2017-09-28 05:15] paulfisher53 commented on #41
Please load the attached fix. I have removed the on blur event from the control.

[SpinnerFix.zip](https://github.com/LiveappSolutions/Liveapp/files/1339550/SpinnerFix.zip)

[2017-09-29 02:02] jaffars commented on #22
I have tested the funtionality of allowing HTTP and HTTPS protocol to be accessed same time in one virtual directory.The test was successful but how ever there is in impact in other feature below is the issue list identified during my initial testing.
Issue 1 – Getting below error when I try to click Admin->Files (this is happening for HTTP only,https is working fine)

![image](https://user-images

[2017-10-04 02:31] JasonBev commented on #41
Behaviour is now consistent between tabbing and clicking, user experience is improved.
Liveware has approved the fix after testing.

[2017-10-10 05:24] paulfisher53 commented on #41
Thanks

[2017-10-10 05:24] #41 closed, assigned to paulfisher53

[2017-10-10 05:45] paulfisher53 commented on #19
1. Do you have an example of the duplication? It should only have 1 record for the logged in user.
2. Fixed (load file below).
3. Done (load file below).
4. I have added a wildcard to the start and end of the Subject, To Address and From Address filters (load file below).

[PAGE Xpress Email Log.zip](https://github.com/LiveappSolutions/Liveapp/files/1370696/PAGE.Xpress.Email.Log.zip)

[2017-10-10 05:56] paulfisher53 commented on #22
1. Looks like a Culture issue. Try adding &lt;globalization culture="en-AU" uiCulture="en-AU" /&gt; to the system.web part of the web.config
2. The CreateFileForUpload method has been upgraded for CU8, please merge in the following client scripts: [MimeFeature.zip](https://github.com/LiveappSolutions/Liveapp/files/1370721/MimeFeature.zip)

[2017-10-11 03:11] jaffars commented on #22
Applied the fix provided and tested both the issue mentioned above.Its working as expected.

[2017-10-13 01:38] JasonBev commented on #19
2,3,4 - All working as expected

1. See screenshots below. Admin is the username, Liveware\Jasonb is the windows username for the same user.

![image](https://user-images.githubusercontent.com/25164973/31526456-a236b3c2-b012-11e7-9d49-0b08def2739a.png)

![image](https://user-images.githubusercontent.com/25164973/31526466-b22e74fe-b012-11e7-94c3-aa2d7af8f0bd.png)

[2017-10-19 01:36] paulfisher53 commented on #19
Yeah. Technically they are separate users in the system (it doesn't know that they are linked)

[2017-10-19 01:36] #19 closed, assigned to paulfisher53

[2017-10-19 01:37] #22 closed, assigned to paulfisher53

[2017-10-19 02:51] paulfisher53 commented on #28
I have added a new field to the Table Designer called "Options" (similar to the Page Designer). This field will allow us to add options to the table definition.

If you add the option 'nolock' (without the quotes), it will add the WITH (NOLOCK) hint to the FINDSET function for that table. (See screen shot below)

![image](https://user-images.githubusercontent.com/25142601/31751998-658c6dec-b4d4-11

[2017-10-19 22:45] paulfisher53 commented on #28
I have added the nolock option to the Xpress Change Log Table. Please load this object file: [TABL Xpress Change Log.zip](https://github.com/LiveappSolutions/Liveapp/files/1400230/TABL.Xpress.Change.Log.zip)

[2017-10-19 22:50] jaffars commented on #28
![image](https://user-images.githubusercontent.com/27175862/31797801-00c4672c-b57c-11e7-9c87-906fcd26b9a4.png)

I am getting above error when i am importing the change log table object.

[2017-10-19 22:56] paulfisher53 commented on #28
Looks like your missing CU8 code again just like in issue #22. Please apply the same fix

[2017-10-19 23:09] jaffars commented on #28
After applying CU8 code i was able to import change log object but when i run the Change log report i dont see with (nolock) syntax in the query executed.Used sql profiler to verify

![image](https://user-images.githubusercontent.com/27175862/31798325-ba8ead32-b57e-11e7-8ab0-ed4b1d9502cc.png)

[2017-10-20 00:03] paulfisher53 commented on #28
Did you apply the DLL's from my first comment? When I run the Xpress Change Log table I get this:

![image](https://user-images.githubusercontent.com/25142601/31799527-4e4f52fe-b586-11e7-8e47-4056bb49a080.png)

[2017-10-20 00:12] jaffars commented on #28
Yes i applied the dll from bin.zip.I confirmed by viewing design table page where i can see the option field for table object.

![image](https://user-images.githubusercontent.com/27175862/31799789-fb21b1d8-b587-11e7-8281-1bf867017d1f.png)

[2017-10-26 00:45] paulfisher53 commented on #28
This is an issue with your local environment. If you fix it and are still having issues with this mod, please re-open this issue

[2017-10-26 00:45] #28 closed, assigned to paulfisher53

[2017-10-27 02:57] paulfisher53 commented on #40
Thanks for the code fix. I've added it to 4.2-CU9 & 5.0-CU1

[2017-10-27 02:57] #40 closed, assigned to paulfisher53

[2017-10-27 03:05] paulfisher53 commented on #26
Thanks for the code fix. I've added it to all 3 skins for version 4.2-CU9 and 5.0-CU1

[2017-10-27 03:05] #26 closed, assigned to paulfisher53

[2017-10-27 03:22] paulfisher53 commented on #29
Thanks for the code fix. Loaded it into 4.2-CU9.

Loaded a different code fix for 5.0-CU1:

Report.js - Line 57

Remove:
m_design += "<thead><tr style='background-color: "+$('.main-title').css('background-color')+"; color: "+$('.main-title').css('color')+"; -webkit-print-color-adjust: exact;'>%columns</tr></thead>";

Add:
m_design += "<thead><tr style='background-color: "+$('.navbar-inner').css('b

[2017-10-27 03:22] #29 closed, assigned to paulfisher53

[2017-10-27 03:47] paulfisher53 commented on #33
Thanks Jaffar. We already fixed this in v5 by removing these 2 lines of code:

MobileControls/Grid.js

if(val.toString().length > 100)
  val = val.toString().substr(0,100)+"...";

Please do that and see if it fixes the issue in v4

[2017-10-27 04:10] paulfisher53 commented on #39
Fixed. Please load these script files: [Trim Spaces Fix.zip](https://github.com/LiveappSolutions/Liveapp/files/1420750/Trim.Spaces.Fix.zip)

[2017-10-27 04:55] JasonBev opened #42 "Inline-Block Tabs not displaying correctly - 5.0"
After the 5.0 Update tabs with option:block are falling under each other instead of in a 2 column format.

max-width for xpress-window-rolequarter is set to 50% and they also have margins which causes an overflow.

[code]

Temp fix - max-width reduced to 49%

![microsoftteams-image](https://user-images.githubusercontent.com/25164973/32088425-eaeda1ee-bb2e-11e7-938d-4977862e030d.png)

Note: Other d

[2017-10-29 22:46] JasonBev commented on #42
Additional: `.xpress-window-block` has the same issue.

[2017-10-29 23:24] paulfisher53 commented on #42
I've changed the flat skin so that the max-width for both `xpress-window-rolequarter` and `xpress-window-block` is `max-width: calc(50% - 10px);`

This should now take into account the margin. Let me know hoe it goes

[2017-10-30 00:33] paulfisher53 commented on #25
I've made a change to load the QTip library in mobile mode. Please load these files: [Mobile QTip.zip](https://github.com/LiveappSolutions/Liveapp/files/1425641/Mobile.QTip.zip)

I have tested using this code:

[code]

Note: I used `taphold` instead of `click`, as click was already used on my grid to edit the row

[2017-10-30 01:19] paulfisher53 commented on #30
This can be accomplished using some OnOpen code like so:

[code]
You can replace the 2000 with a different screen size if you wish

[2017-10-30 03:49] paulfisher53 commented on #27
Try this code to add a dropdown in the grid editor:

[code]

[2017-11-01 06:18] JasonBev commented on #42
`xpress-window-rolequarter` - Displays nicely
`xpress-window-block` - Does have a minor alignment issue when a tab with 'factbox' is present on the page. I have looked at sites prior to liveapp 5.0 and they have the same issue though, it's just only become noticeable as I modified headers for `.app-window-title-alt`.
Changing it to -5px still doesn't align perfectly for some reason but isn't a maj

[2017-11-02 01:40] JasonBev opened #43 "Multiple Timepicker Functionality"
Liveapp Version - All

**Issue:** I have two fields with the type 'Time' on the same page.

If I click to edit the first field and change the hour value it saves that but returns the second time value in the display (loops through code twice and returns the last). This is confusing to the end user as they haven't clicked to edit the 2nd field and may still want to edit the minute value.

If the in

[2017-11-03 03:54] JasonBev commented on #30
Resize of icons/text is an acceptable solution, no further action required.

[2017-11-07 23:38] jaffars commented on #34
The Grid refresh iam Mentioning is via code when after an action I refresh the Grid from Code using REFRESH function that's when I see this issue

[2017-11-08 01:57] JasonBev opened #44 "filter toolbar field name clearing"
Follow up to #40
Minor usability issue - The same flow fields have an issue when you individually clear their value (as opposed to clear all) - the field name will be removed from the dropdown instead of remaining in view.

Liveware temp fix-
line 101 - FilterToolbar.js
`m_filterFields.val(pagefield.Name);`
to
`m_filterFields.val(filter.Name);`

It will still remove the value in line 90/91 as it's

[2017-11-08 02:45] jaffars opened #45 "Global search speed improvements"
TFS Ticket No - 4971

As a CIMS user I want to quickly be able to search and access the client list page. At the moment a client search can take 7+ seconds even on the smallest of databases. This affects my user experience in a negative way and increases the amount of time it takes to complete my work in CIMS.

[2017-11-08 03:08] jaffars commented on #33
Tested in CU9 and its working as expected

[2017-11-08 03:08] #33 closed, assigned to paulfisher53

[2017-11-08 03:25] jaffars commented on #31
Tested without any issue, the UI flow got changed due to CU9 upgrade

[2017-11-08 03:25] #31 closed, assigned to nobody

[2017-11-09 23:46] jaffars opened #46 "mobile calendar control missing icons"
Time and Calendar controls missing next and previous month Icon in mobile display.Images below helps you.

![image](https://user-images.githubusercontent.com/27175862/32635418-6d8e7242-c604-11e7-8c93-53cc4ce7cbd1.png)

[2017-11-10 04:48] JasonBev opened #47 "service worker caching issue"
Upon implementation and testing of liveApp 5.0 we found changes to our application weren't getting passed to the user on browser refresh. On line 1047 of Application.js it wasn't returning the service-worker.js file as expected.

On test we found unless you had the url in the correct format e.g

Url 1 - https://cims.livewarecloud.com.au/dev/

It wouldn't work, so the following would be invalid

Ur

[2017-11-10 04:52] JasonBev opened #48 "mobile grid "ellipsis" field option"
With deployment and testing of LiveApp 5.0 release we have noticed the ellipsis style has been removed for certain fields on mobile view, meaning they can take up a large amount of space visually. See notes column below (left image is prior to update).

If possible can we have 'Ellipsis' as a field option we can pass in.

![image](https://user-images.githubusercontent.com/25164973/32643357-ffde431

[2017-11-15 03:58] JasonBev commented on #27
As the html select option used here doesn't support it, is there anything currently in the framework (e.g jquery) to include <br> formatting for the options similar to the UI.ContextMenu functionality?

[2017-11-15 04:13] JasonBev commented on #25
Qtip functionality for mobile working as expected

[2017-11-16 01:41] paulfisher53 commented on #25
Thanks

[2017-11-16 01:41] #25 closed, assigned to paulfisher53

[2017-11-16 01:43] paulfisher53 commented on #27
What sort of formatting do you need? Like HTML support?

[2017-11-16 01:44] paulfisher53 commented on #30
Thanks

[2017-11-16 01:44] #30 closed, assigned to paulfisher53

[2017-11-16 02:07] paulfisher53 commented on #42
The issue is that we are subtracting the wrong amount (we should only subtract the margin, which is 5px) and the `.xpress-window-default` (and other full width classes) also need to subtract the margin.

Try replacing the following classes:

[code]

[2017-11-16 03:06] JasonBev commented on #42
All tabs appear to aligning correctly now

[2017-11-16 04:22] JasonBev opened #49 "Give option of disabling 'close' function on save of page- Mobile"
View - mobile
Object - page

There are certain scenarios  (i.e show a button on insert validation) where we would like the option of being able to have the user click the save button (i.e check icon) and have the page stay open/refresh as opposed to the automatic close of page and revert back to parent.

This provides a better customisable user friendly experience.

[2017-11-16 04:31] JasonBev opened #50 "Mobile/Tablet Display Issue - Soft keyboard on Andriod covering field -5.0"
It has been identified in testing 5.0 that when a user clicks on a free typing field and the device keyboard displays it covers the field the user clicked on and are required to try and scroll to bring it back into view.

Desired implementation would be - automatically panned

[2017-11-19 23:09] paulfisher53 commented on #42
Thanks

[2017-11-19 23:09] #42 closed, assigned to paulfisher53

[2017-11-21 01:34] paulfisher53 commented on #27
What if you use the DDSlick control instead of the selectmenu? I think that control allows html for its items

[2017-11-21 03:58] JasonBev commented on #27
Ah yep.

DDSlick would be suitable for HTML input purposes as an existing framework plugin, no further work needed by liveapp.

[2017-11-21 05:51] JasonBev commented on #27
DDSlick alternative to above (with grouping)
[code]

[2017-11-22 02:22] paulfisher53 commented on #36
This code fix will roll out with 4.2 CU9 (already fixed in v5):

[code]

Note that `m_table.Column(f.name)` has been changed to `m_table.Column(f.Name)`

[2017-11-22 02:22] #36 closed, assigned to paulfisher53

[2017-11-22 02:24] paulfisher53 commented on #27
Nice, thanks for coding that up

[2017-11-22 02:24] #27 closed, assigned to paulfisher53

[2017-11-22 02:25] #39 closed, assigned to paulfisher53

[2017-11-24 00:07] JasonBev opened #51 "Report Icons aren't displaying on Print - 5.0+"
The new material design icons in reports are displaying fine in the application but not in print/print preview.

e.g
In application-
![image](https://user-images.githubusercontent.com/25164973/33190909-b67fb4cc-d106-11e7-971d-724088fd42e9.png)

Print preview-
![image](https://user-images.githubusercontent.com/25164973/33190912-cedfa0cc-d106-11e7-97fa-b25709b507e0.png)

Specs-
Liveapp Version - 5.0

[2017-11-27 02:59] JasonBev opened #52 "Mobile Loader not displaying - 5.0+"
Version - 5.0+
Mode: Mobile

In desktop there is a visual loader with a % on each individual tab within a page. i.e navigating back to the dashboard

In mobile there is no visual representation to the end user that there are still threads (i.e TableFetch) open and can cause inconsistencies with their experience.

[2017-12-08 01:25] paulfisher53 opened #53 "email log performance"
Please add the following index to the [Xpress Email Log] table to speed up scheduled emails:

Status

[2017-12-08 04:42] JasonBev opened #54 "incorrect action bar position in mobile"
The action bar is calculated to be fixed from the top 100vh - 60px (height of bar) which works, but on change of orientation it remains at that fixed point, not at the bottom of the screen.

![image](https://user-images.githubusercontent.com/25164973/33750882-013ed93c-dc2b-11e7-89cf-3e8a248df180.png)

![image](https://user-images.githubusercontent.com/25164973/33750899-1406467c-dc2b-11e7-916f-6a46

[2017-12-08 04:47] JasonBev opened #55 "Non-Editable fields removed from view - Mobile"
Issue with non-editable fields getting removed from view completely in mobile when editing/creating new record, either through the page editor setting or through code (i.e viewer.Control("ID").Enabled(false), no issue with the grid functionality.

[2017-12-12 03:41] JasonBev opened #56 "Mandatory Date fields - Grid"
Mandatory date fields in grid will display as NaN/NaN/NaN instead of the text 'mandatory'

Liveapp applied a fix for liveware previously, this appears to have been lost from your source code so sending it through if you wish to include.

Fix below-

![image](https://user-images.githubusercontent.com/25164973/33866324-20be6d64-df4a-11e7-9884-bcf001195d1b.png)

[2017-12-14 22:54] paulfisher53 opened #57 "Webservice: New Overridable Function"
Add a new overridable function to the webservice class that fires on GetServerInfo in the Server Endpoint.

This will allow framework extensions to run server side code each time the server is pinged from the Liveapp Service

[2017-12-17 22:37] JasonBev opened #58 "Unable to link to page from Chart/Graph"
Prior to https://github.com/LiveappSolutions/Liveapp/releases/tag/v4.2-CU7 release we could combine the chart and drilldown custom controls to give the ability to the user to click on the graph and be taken to a specified page.

The addition of tooltips from https://github.com/LiveappSolutions/Liveapp/issues/14 appears to have broken this functionality.

[2017-12-21 03:16] paulfisher53 commented on #35
Please load this fix: [Fix-35.zip](https://github.com/LiveappSolutions/Liveapp/files/1577795/Fix-35.zip)

[2017-12-21 03:38] paulfisher53 commented on #37
Please load this fix: [Fix-37.zip](https://github.com/LiveappSolutions/Liveapp/files/1577829/Fix-37.zip)

**NOTE: It is different from the fix @jaffars has supplied. I suggest you remove that fix before merging this one in**

[2017-12-21 03:51] paulfisher53 commented on #44
I have applied your fix to lines 91 and 101. I think all functionality is now working for filtering flowfields.

Can you please load this fix and confirm? [Fix-44.zip](https://github.com/LiveappSolutions/Liveapp/files/1580996/Fix-44.zip)

[2017-12-21 04:11] paulfisher53 commented on #47
Jason, I have added your fix to the repo.

As for your refresh issue, I could not replicate it. Please clear your app in Chrome Dev Tools:

Application Tab > Clear Storage > Clear Site Data - This will remove any older service workers which might be causing your issue

Also, each time you do an Instance refresh (Dashboard > Instance > OK), make sure you wait a few seconds to give the service worke

[2017-12-21 04:16] JasonBev commented on #44
File upload incomplete on comment, please add again/provide link.

[2017-12-21 23:21] JasonBev commented on #35
Select menu and caption now hide as expected.

[2017-12-21 23:46] paulfisher53 commented on #35
Thanks

[2017-12-21 23:46] #35 closed, assigned to paulfisher53

[2017-12-21 23:48] paulfisher53 commented on #44
Sorry about that, updated...

[2017-12-21 23:57] paulfisher53 commented on #48
Done. Added a new field option "ellipsis"

[Fix-48.zip](https://github.com/LiveappSolutions/Liveapp/files/1581021/Fix-48.zip)

[2017-12-22 00:01] paulfisher53 commented on #53
Done. Please load this object file

[TABL - Xpress Email Log.zip](https://github.com/LiveappSolutions/Liveapp/files/1581029/TABL.-.Xpress.Email.Log.zip)

[2017-12-22 00:47] paulfisher53 commented on #54
I've changed all top styles to bottom. Please give it a test

[Fix-54.zip](https://github.com/LiveappSolutions/Liveapp/files/1581120/Fix-54.zip)

[2018-01-01 22:44] JasonBev commented on #44
Fix working, I think we have it all resolved now.

[2018-01-01 23:31] JasonBev commented on #48
This field options works as intended.

It does create a side issue with the way qtip works as the tooltip will also have the character reduced info showing when we want the entire note to show. It uses jquery to just grab the html, thoughts?

[2018-01-02 02:10] JasonBev commented on #54
Tested and solution provided works  as expected.

[2018-01-02 03:19] JasonBev commented on #47
I can see the new service worker installing - then receive the message in console 'Content is available offline' as installingWorker.state is 'activated'.

On refresh the site (i.e login screen) is loaded before some of the Application Cache Progress events are finished (e.g css and js). The Application cache UpdateReady then appears so you need to refresh a 2nd time to get all the new changes.

T

[2018-01-04 22:48] paulfisher53 commented on #44
Thanks

[2018-01-04 22:48] #44 closed, assigned to paulfisher53

[2018-01-04 22:51] paulfisher53 commented on #48
Can you send me the code your using? Maybe the qtip can lookup the grid's datasource and get the correct Note data

[2018-01-04 22:51] paulfisher53 commented on #54
Thanks

[2018-01-04 22:51] #54 closed, assigned to paulfisher53

[2018-01-04 23:03] paulfisher53 commented on #47
That's weird. In `Application.js` on line 1045 it checks if `serviceWorker` is available. If it isn't, then it will use Application Cache. Can you debug and make sure it isn't hitting the Application Cache code? It should hit the top section of the `if` statement (it will log when the update is finished with 'Content is now available offline!')

[2018-01-05 04:48] JasonBev commented on #48
Code used is the same as you tested in  https://github.com/LiveappSolutions/Liveapp/issues/25

[2018-01-08 03:18] JasonBev commented on #47
It doesn't appear to be hitting that code, no. Just sending the console log so you can see, the one on the left is the first refresh after the service worker is installed, one on the right in the next refresh.

![cache](https://user-images.githubusercontent.com/25164973/34657904-d0174fe4-f47e-11e7-8bfc-32dd62d3620d.png)

What calls that application cache downloading event?

[2018-01-10 05:24] paulfisher53 commented on #47
It seems that is called automatically when the page loads (I'm currently trying to find a way to stop that). This should not effect the serviceWorker. Can you screenshot the "Application > Service Workers" tab?

[2018-01-10 23:17] JasonBev commented on #47
Sure. One on the left is when I've made a change to the instance and the new service worker is installing (takes a few seconds). One on the right is now installed. This all happens before the console image above.

![serviceworker](https://user-images.githubusercontent.com/25164973/34800256-1563b6d4-f6b7-11e7-8a15-84cc2845fd6e.png)

[2018-01-11 22:44] #53 closed, assigned to paulfisher53

[2018-01-11 23:18] paulfisher53 commented on #47
Are you on the login screen? The auto update doesn't run until you are logged in (after login a timer is kicked off which will check the instance file every 30 seconds for an update)

[2018-01-11 23:35] paulfisher53 commented on #47
Also, I've removed the appcache (as keeping it was essentially double downloading the web app). In case that was causing the issue, I suggest you load this fix: [Fix-47.zip](https://github.com/LiveappSolutions/Liveapp/files/1624488/Fix-47.zip)

[2018-01-12 00:41] paulfisher53 commented on #46
Please load this fix: [Fix-46.zip](https://github.com/LiveappSolutions/Liveapp/files/1624603/Fix-46.zip)

[2018-01-12 01:03] JasonBev commented on #47
Success! Application is now working as designed/expected with the fix supplied.

[2018-01-12 02:42] jaffars opened #59 "Tablet view subpage scrolling is sticky and not consistent - Tablet"
When you have a progress note card open sometimes it is difficult to scroll and instead of scrolling the card you just move the background up and down. See attached video

The scroll is not smooth and sometime sticky and the content doesn't move inside page rather the black background moves
TFS - 5406

[2018-01-12 03:12] jaffars opened #60 "In Tablet View when dragging on thec ontrol $('#scut1').ddslick({ multiple borders are creating which looks ugly"
Image attached fore reference.

When the tablet is portrait orientation and you scroll down the list of shortcut notes, the screen goes funny. Please investigate.

![image](https://user-images.githubusercontent.com/27175862/34858129-98699706-f7a2-11e7-802a-cc664ba956e3.png)

[2018-01-12 03:38] paulfisher53 commented on #47
Nice! Thanks

[2018-01-12 03:38] #47 closed, assigned to paulfisher53

[2018-01-14 23:19] jaffars opened #61 "Tablet View - When there is a long list to be shown on a multiselect the list is not setting the value back after selecting"
In tablet view, when the ‘x’ button is hit after selecting multiple items in a multi select control, it closes the popup of list box as well as the subpage. It should only close the pop up of list box and not the subpage as well.

This only happens when you have a large number of items to select in the multi select. If you could prioritise this as we are unable to release a version with this issue

[2018-01-15 22:55] jaffars opened #62 "Tablet View - design and usability issues due to orientation"
iPad

1. Found that when i rotate the orientation of the screen from portrait to landscape that the screen appears as below and i am unable to scroll to see the form. I expect that i should be able to rotate the orientation of the iPad and still be able to continue entering the form fields.

![image](https://user-images.githubusercontent.com/27175862/34964692-e495e708-faa2-11e7-8eb2-2eb4b73c9097.p

[2018-01-15 22:58] paulfisher53 commented on #61
I believe that jquery mobile hash listening is to blame. Please load this fix: [Fix-61.zip](https://github.com/LiveappSolutions/Liveapp/files/1633170/Fix-61.zip)

[2018-01-22 02:21] jaffars opened #63 "Tablet View - design and Usability issues"
Having design issues in tablet view

a) white space

![image](https://user-images.githubusercontent.com/27175862/35202463-fc1c970e-ff76-11e7-9877-d8bbb6874233.png)

b) Keyboard overlapping field in android on popup forms

![image](https://user-images.githubusercontent.com/27175862/35202468-07fb8e54-ff77-11e7-86d2-dd0c3c3618dc.png)

[2018-01-22 02:37] jaffars commented on #63
Closing this issue since it is a Duplicate of 62

[2018-01-22 02:37] #63 closed, assigned to nobody

[2018-01-22 04:32] jaffars commented on #46
Thanks Paul, It has fixed partially but still couple of more icons missing.

Icon Missing for Set button
![image](https://user-images.githubusercontent.com/27175862/35205418-36c97a9a-ff89-11e7-91a3-5794b2e9a229.png)

Icon missing for "Jump to Today"

![image](https://user-images.githubusercontent.com/27175862/35205437-45c00ff0-ff89-11e7-9ab6-fa251313cb5c.png)

[2018-01-22 04:40] jaffars commented on #61
Issue fixed and verified

[2018-01-22 04:40] #61 closed, assigned to paulfisher53

[2018-01-22 04:43] jaffars commented on #37
tested and verified

[2018-01-22 04:43] #37 closed, assigned to paulfisher53

[2018-01-22 05:07] paulfisher53 commented on #49
I've added a new page option `saveonly`. This will tell the page to save and not close when the tick is clicked in mobile mode.

Fix: [Fix-49.zip](https://github.com/LiveappSolutions/Liveapp/files/1650800/Fix-49.zip)

[2018-01-23 00:43] paulfisher53 commented on #48
Hi Jason,

Try this code:

[code]

[2018-01-23 00:54] paulfisher53 commented on #46
Hi Jaffar,

Try this fix: [Fix-46-2.zip](https://github.com/LiveappSolutions/Liveapp/files/1654117/Fix-46-2.zip)

[2018-01-23 01:31] jaffars commented on #46
Fix provided is working and moved for testing

[2018-01-23 01:31] #46 closed, assigned to paulfisher53

[2018-01-23 03:57] JasonBev commented on #48
Thanks for the workaround. I just added a check for the field option otherwise it would try and return ID's instead of the flowfield value and date objects etc for the tooltip.
[code]

[2018-01-24 04:05] paulfisher53 commented on #48
Ahhh of course. No worries

[2018-01-24 04:05] #48 closed, assigned to paulfisher53

[2018-01-24 05:55] jaffars commented on #49
Tested and can be closed

[2018-01-24 22:39] paulfisher53 commented on #49
Thanks

[2018-01-24 22:39] #49 closed, assigned to paulfisher53

[2018-01-29 03:33] jaffars opened #64 "Mobile/Tablet Display - IOS devices - List box single select not bringing the Keyboard when tapped 'Type here to Search' text field"
iPad or iPhone - when it says 'Type here to Search' that I will be able to do so.  At the moment when i tap into a search field i am unable to search as the keyboard does not appear even after tapping the text field.

![image](https://user-images.githubusercontent.com/27175862/35492478-34cf915c-0501-11e8-8253-04647ff3cb3f.png)

[2018-01-30 00:24] JasonBev opened #65 "DateTime field in mobile - no formatting"
Object: Page
Type: List
Device: Mobile

Currently the DateTime field on mobile has no formatting so will display in full including timezone.

Suggested Fix-
Script - scripts/ui/MobileControls/grid.js
In the this.AddColumn function-

[code]

[2018-01-30 23:49] paulfisher53 opened #66 "Iteration Plan for Feb 2018"
This plan captures our work in **February**. This is a 4 week iteration. **We will ship late February.**

## Plan Items ##

Below is a summary of the top level plan items. **This list is subject to change.**

### Bugs ###
- [x] Multiple Timepicker Functionality #43 @jasonbev
- [x] Mobile/Tablet Display Issue - Soft keyboard on Android covering field #50 @jasonbev
- [x] Report Icons aren't displayi

[2018-01-31 03:55] jaffars opened #67 "Mobile/Tablet View - IOS and Android - The textbox hidden behind the Keypad"
Usability issue has been identified in most of the Form entries especially for the Textboxes which are at the bottom of the screen.Most of the time the text box hide behind the keypad.

Resolution - Push the element to be edited above the keypad so the user can able to view what field it been entered as well as the text typed in.

[2018-02-04 22:34] jaffars opened #68 "Mobile/Tablet View- Unable to type into anyvalue for search textbox"
In desktop view for a lookup field, I can search for a value or type in any value for the field to be saved but in mobile/tablet view I can only search for a value.

Eg.
Desktop Flow - Lookup in the search box for an existing value or can type in any value I would like to enter
Mobile/Tablet - Lookup an existing value but no provision to type in new value

[2018-02-06 00:33] jaffars commented on #50
Mobile/Tablet View - IOS and Android - The textbox hidden behind the Keypad

Usability issue has been identified in most of the Form entries especially for the Textboxes which are at the bottom of the screen.Most of the time the text box hide behind the keypad.

Resolution - Push the element to be edited above the keypad so the user can able to view what field it been entered as well as the text t

[2018-02-06 00:35] jaffars commented on #67
Closing this ticket as this issue is tracked in existing #50 ticket

[2018-02-06 00:35] #67 closed, assigned to nobody

[2018-02-06 23:06] paulfisher53 opened #69 ""Sorting" on Table Keys"
On the table keys grid in the Table Designer, please add a new column "Sorting". This will allow the designer to add indexes like:

CREATE INDEX IX_VendorID ON dbo.ProductVendor (VendorID DESC, Name ASC, Address DESC);

For the above example, you would put the following data in the table keys grid:

Columns: VendorID,Name,Address
Sorting: DESC,ASC,DESC

[2018-02-07 02:13] paulfisher53 commented on #64
Hi @jaffars , please try this fix:

[Fix-64.zip](https://github.com/LiveappSolutions/Liveapp/files/1701470/Fix-64.zip)

[2018-02-07 02:38] paulfisher53 commented on #43
Hi @JasonBev , please try this fix:

[Fix-43.zip](https://github.com/LiveappSolutions/Liveapp/files/1701525/Fix-43.zip)

[2018-02-07 03:36] paulfisher53 commented on #50
Hi @jaffars & @JasonBev , please apply this fix:

[Fix-50.zip](https://github.com/LiveappSolutions/Liveapp/files/1701629/Fix-50.zip)

[2018-02-07 03:53] paulfisher53 commented on #51
Hi @JasonBev , please apply this fix:

[Fix-51.zip](https://github.com/LiveappSolutions/Liveapp/files/1701671/Fix-51.zip)

[2018-02-07 04:01] paulfisher53 commented on #55
Hi @JasonBev , please apply this fix:

[Fix-55.zip](https://github.com/LiveappSolutions/Liveapp/files/1701688/Fix-55.zip)

[2018-02-07 04:49] paulfisher53 commented on #58
Hi @JasonBev , please try this fix:

[Fix-58.zip](https://github.com/LiveappSolutions/Liveapp/files/1701786/Fix-58.zip)

[2018-02-07 04:55] paulfisher53 commented on #65
Hi @JasonBev , great solution! Here is the official fix:

[Fix-65.zip](https://github.com/LiveappSolutions/Liveapp/files/1701802/Fix-65.zip)

[2018-02-07 19:27] JasonBev commented on #65
Cheers, testing complete and fix provided works as intended.
Nothing further required for this item.

[2018-02-08 19:18] JasonBev commented on #58
Testing complete and fix provided works as intended.
Nothing further required for this item.

[2018-02-08 19:18] JasonBev commented on #55
Testing complete and fix provided works as intended.
Nothing further required for this item.

[2018-02-08 19:18] JasonBev commented on #51
Testing complete and fix provided works as intended.
Nothing further required for this item.

[2018-02-08 19:19] JasonBev commented on #43
Testing complete and fix provided works as intended.
Nothing further required for this item.

[2018-02-13 00:34] paulfisher53 commented on #69
Hi @jaffars, please load this mod for Adam:

[Fix-69.zip](https://github.com/LiveappSolutions/Liveapp/files/1718172/Fix-69.zip)

[2018-02-13 00:46] paulfisher53 commented on #57
Hi @jaffars, please load this mod for Adam:

[Fix-57.zip](https://github.com/LiveappSolutions/Liveapp/files/1718187/Fix-57.zip)

[2018-02-13 00:51] jaffars commented on #57
Hi Paul,

Does Fix-57.Zip also includes the changes you made for #69.I could see framework.service.dll is common in both the fix

Jaffar Sadiq | B.COM(Commerce)|
Senior Software Developer |': 02 4921 8333 | 6: 02 4920 8500 |
www.liveware.com.au<http://www.liveware.com.au/> | Suite 9, 29 Smith Street Charlestown NSW 2290 |
[Liveware ERP Email Signature]

From: Paul Fisher [mailto:notifications@gith

[2018-02-13 01:05] paulfisher53 commented on #57
Yeah. Load #69 first, then load this one over the top

[2018-02-13 01:43] paulfisher53 commented on #69
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-02-13 01:43] #69 closed, assigned to paulfisher53

[2018-02-13 01:44] paulfisher53 commented on #65
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-02-13 01:44] #65 closed, assigned to paulfisher53

[2018-02-13 01:44] paulfisher53 commented on #64
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-02-13 01:44] #64 closed, assigned to paulfisher53

[2018-02-13 01:44] paulfisher53 commented on #58
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-02-13 01:44] #58 closed, assigned to paulfisher53

[2018-02-13 01:45] paulfisher53 commented on #57
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-02-13 01:45] #57 closed, assigned to paulfisher53

[2018-02-13 01:45] paulfisher53 commented on #55
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-02-13 01:45] #55 closed, assigned to paulfisher53

[2018-02-13 01:45] paulfisher53 commented on #51
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-02-13 01:45] #51 closed, assigned to paulfisher53

[2018-02-13 01:45] paulfisher53 commented on #50
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-02-13 01:45] #50 closed, assigned to paulfisher53

[2018-02-13 01:46] paulfisher53 commented on #43
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-02-13 01:46] #43 closed, assigned to paulfisher53

[2018-02-14 03:06] JasonBev opened #70 "Grand Totals - Report grouping"
**Script:** report.js

**Request:** For default reports to have a grand total option when using groupfields option. Currently provides a total for each grouping when what field is set in groupfields changes. Grand total would be for all groups combined.

**Additional:** Adding new grand total row to export to default CSV functionality also

[2018-02-14 04:05] jaffars opened #71 "Tablet View - Getting Error when opening using new OptionsWindow({ code"
Reproducible steps:-
1. Create page with grid
2. On selection of an item in a grid open edit page.
3. in the edit page have a custom action which will call new OptionsWindow({ code.

var options = new OptionsWindow({
      caption: 'Add Clients - ' + method,
      fields: [
        {Name: "Client", Caption: "Clients", Type: "BigText", LookupTable:"Clients", LookupField:"Client_ID", LookupFilters:"

[2018-02-16 04:32] paulfisher53 commented on #71
Hi @jaffars in the UI/MobileControl.js script file, please change line 67 to:

[code]

[2018-02-16 04:57] jaffars commented on #71
Hi Paul,

Changed the line and my preliminary testing seems to be good. Thanks for your quick turnaround.

if (m_viewer) {

to

if (m_viewer && m_viewer.ID) {

Jaffar Sadiq | B.COM(Commerce)|
Senior Software Developer |': 02 4921 8333 | 6: 02 4920 8500 |
www.liveware.com.au<http://www.liveware.com.au/> | Suite 9, 29 Smith Street Charlestown NSW 2290 |
[Liveware ERP Email Signature]

From: Paul Fis

[2018-02-18 22:17] paulfisher53 commented on #71
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-02-18 22:17] #71 closed, assigned to paulfisher53

[2018-02-18 22:20] paulfisher53 commented on #59
Hi @jaffars, can you please attach the video that is mentioned in this issue?

[2018-02-27 04:50] paulfisher53 commented on #66
No time for #59 , maybe we can add it to March iteration

[2018-02-27 05:10] JasonBev opened #72 "Xpress Change Log - Missing MOD entries for null values"
When an existing value in a non varchar field is modified to null, the relevant record isn't added to the change log.

Request: Have all modify actions recorded in this table for log purposes

[2018-02-27 05:20] paulfisher53 commented on #72
Hi @JasonBev try this fix: [Fix-72.zip](https://github.com/LiveappSolutions/Liveapp/files/1761334/Fix-72.zip)

[2018-02-27 05:28] paulfisher53 commented on #72
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-02-27 05:28] #72 closed, assigned to paulfisher53

[2018-02-28 05:12] paulfisher53 commented on #66
Shipped. Closed.

[2018-02-28 05:12] #66 closed, assigned to paulfisher53

[2018-03-04 23:05] paulfisher53 commented on #45
Can you go to ADMIN > Global Search Setup and click the "Export to CSV" button in the top right, then attach it to this issue?

[2018-03-04 23:14] paulfisher53 opened #73 "Iteration Plan for Mar 2018"
This plan captures our work in **March**. This is a 4 week iteration. **We will ship late March.**

## Plan Items ##

Below is a summary of the top level plan items. **This list is subject to change.**

### Bugs ###
- [x] Grid Control- Desktop Version fixes #34 @jaffars
- [x] Excess white space - Chartist Display cause #38 @jasonbev
- [x] Mobile Loader not displaying #52 @jasonbev
- [x] Mandatory

[2018-03-06 02:43] jaffars opened #74 "Grid rows are not displaying for a specifix"
The unknown issue causing to hide the review date Grid when logged in Via Windows Authentication.This is happening to the only specific user when logged in via windows account.This is not happening when we use form-based authentication for the same user.

Any insights from you would help me to identify what is wrong with the grid and why it's not displaying only for that user when logged into wind

[2018-03-09 02:36] JasonBev opened #75 "Dashboard custom caption"
Request: Ability to modify Dashboard caption for menu item/tab without framework changes -  i.e ability to edit 'home' constant in language file

[2018-03-14 01:28] paulfisher53 commented on #52
Hi Jason,

Please load this mod: [Fix-52.zip](https://github.com/ZoomApps/Liveapp/files/1809259/Fix-52.zip)

[2018-03-14 01:46] paulfisher53 commented on #56
Thanks for the fix Jason. I have added it to the source

[2018-03-14 01:46] #56 closed, assigned to paulfisher53

[2018-03-14 01:58] paulfisher53 commented on #38
Hi Jason,

Please apply this fix: [Fix-38.zip](https://github.com/ZoomApps/Liveapp/files/1809316/Fix-38.zip)

Note: This fix can be applied to v4 and v5

[2018-03-14 02:02] paulfisher53 commented on #74
Sounds like the columns are hidden for that user (the windows and forms auth are actually 2 different liveapp users).

Try logging in via windows auth, and right click the grid header. This will bring up a list of columns (and will allow you to show the hidden ones)

[2018-03-14 02:39] jaffars commented on #74
Yes you are rights, When I inspected the elements I could able to see display=none for those columns. I am not sure why this is happening so only for windows login.

[2018-03-14 02:58] JasonBev commented on #38
Fix supplied hasn't rectified issue in our development environment.

The div for the tooltip (class chartist-tooltip) to show in is still initially loading below the copyright text at the bottom of the page. I can fix this by setting a top:100% value in css initially for this class (line 784 for styles>chartist.css), but the more prominent display issue comes when you then hover over the chart and

[2018-03-14 04:39] paulfisher53 commented on #74
Did you right click and re-show the columns?

[2018-03-14 04:46] paulfisher53 commented on #70
Hi Jason,

Please load this mod: [Fix-70.zip](https://github.com/ZoomApps/Liveapp/files/1809617/Fix-70.zip)

[2018-03-14 04:58] paulfisher53 commented on #38
Ahhhh, I see. Try this fix also:

[Fix-38-2.zip](https://github.com/ZoomApps/Liveapp/files/1809645/Fix-38-2.zip)

[2018-03-14 05:06] paulfisher53 commented on #75
Done. [Fix-75.zip](https://github.com/ZoomApps/Liveapp/files/1809672/Fix-75.zip)

It uses the S_HOME language variable.

Remember to restart your app pool after changing the language file

[2018-03-14 05:27] paulfisher53 commented on #34
Here is the mod to disable row multiselect: [Fix-34.zip](https://github.com/ZoomApps/Liveapp/files/1809711/Fix-34.zip) This mods adds a new Page Option called `nomultiselect`. If you add that to a list page, it will disable the row multiselect.

As for the REFRESH issue, I cannot replicate the problem. Can you show me the code you have on your action that contains the REFRESH function?

[2018-03-14 05:35] paulfisher53 commented on #68
Hi Jaffar,

In v5.3, I was able to enter a non-lookup value in mobile/tablet mode by clicking in the field, typing a value in, then hitting enter on my keyboard.

Are you able to do the same?

[2018-03-14 19:56] JasonBev opened #76 "Menu Items not referencing ClientCaption + ProgramCaption"
Prior to LiveApp 5.0 the application menu item captions for Liveware would reflect what was entered into the company table fields for-

ClientCaption
ProgramCaption

Now they are hard-coded to 'clients' and 'programs'.

[2018-03-14 19:59] JasonBev commented on #75
Thanks, works as intended.

As a client we are now able to customize the menu and tab display captions for 'Dashboard'

[2018-03-14 23:32] JasonBev commented on #52
Fix uploaded and working as expected.

[2018-03-14 23:32] jaffars commented on #68
Thanks Paul,
Will close this once our QA team confirms after retesting.

[2018-03-14 23:33] JasonBev commented on #38
Nice simple solution, issue resolved after applying Fix-38-2

[2018-03-16 01:57] jaffars opened #77 "Tracking of device login"
There is no way to find out from which devices it is logged-in from live app framework.We require a column in [Xpress Session Event] table to identify the device like Desktop, Mobile, and Tablet

[2018-03-19 23:15] paulfisher53 commented on #38
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-03-19 23:15] #38 closed, assigned to paulfisher53

[2018-03-19 23:15] paulfisher53 commented on #52
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-03-19 23:15] #52 closed, assigned to paulfisher53

[2018-03-19 23:15] paulfisher53 commented on #70
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-03-19 23:15] #70 closed, assigned to paulfisher53

[2018-03-19 23:15] paulfisher53 commented on #75
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-03-19 23:15] #75 closed, assigned to nobody

[2018-03-20 00:33] paulfisher53 commented on #62
Hi Jaffar,

Please load this fix for the orientation issues: [Fix-62.zip](https://github.com/ZoomApps/Liveapp/files/1827422/Fix-62.zip)

The keyboard issue should be fixed with #50 , so make sure that is loaded also

[2018-03-20 00:42] paulfisher53 commented on #60
Hi Jaffar,

Can you please give the test user (jenny.black) access to multiple progress notes so I can replicate the issue?

[2018-03-20 03:04] jaffars commented on #60
jenny.black have access to create the progress note.
Which environment you are trying this out?

[2018-03-20 22:41] paulfisher53 commented on #59
Is this in v4 or v5?

[2018-03-20 22:41] paulfisher53 commented on #60
cims.livewarecloud.com.au/dev

Jenny can see progress notes but not the Multiple Progress Note card

[2018-03-20 22:44] paulfisher53 commented on #62
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-03-20 22:44] #62 closed, assigned to paulfisher53

[2018-03-20 22:44] paulfisher53 commented on #34
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-03-20 22:44] #34 closed, assigned to paulfisher53

[2018-03-20 23:23] jaffars commented on #60
In Tablet , below is the flow

Login -> Select “Business Units” -> in the Bottom You should be able to see multiple progress note and Click  -> In Action Click Participant -> In Action Click New

[cid:image003.png@01D3C0FD.EFF90690]
[cid:image002.png@01D3C0FE.244A6D80]
[cid:image004.png@01D3C0FE.A1860F20]

Jaffar Sadiq | B.COM(Commerce)|
Senior Software Developer |': 02 4921 8333 | 6: 02 4920 8500

[2018-03-20 23:26] jaffars commented on #59
I think it should be v5 created in Jan 12th.

[2018-03-28 03:05] paulfisher53 commented on #73
#59 , #60 and #68 have been deferred to the next iteration

[2018-03-28 03:46] paulfisher53 commented on #73
Shipped. Closed.

[2018-03-28 03:46] #73 closed, assigned to paulfisher53

[2018-03-28 05:47] jaffars opened #78 "Double refresh required to load all resources after new version Update"
We have identified an issue after new version upgrade of liveapp framework 5.2.

The user has to do a double refresh to load all the resource/images required for the page after a fresh installation.

Note : - Once the installation is completed and after a double refresh for any further updates we only been asked to do one refresh.

[2018-04-03 00:34] jaffars opened #79 "Search - Incorrect items appearing for Criteria Entered into the Global Search"
Found in UAT that the search results do not match the criteria entered.

Example:
When I enter 'tr' into the search I am getting Benjamin Andrews in the results who do not have TR in his name.

![image](https://user-images.githubusercontent.com/27175862/38222797-79e480a8-372a-11e8-9131-2f6cdd985bdd.png)

[2018-04-03 02:10] jaffars commented on #79
Based on the feedback.The search could be pulling from the address field.

[2018-04-03 02:10] #79 closed, assigned to nobody

[2018-04-03 06:57] jaffars opened #80 "Request/Idea - Special character "&" is causing issues in Framework"
Recently we have noticed quite a few issues popped out due to "&" special character in the data.For some reason, in a field, if a "& " presents the query is formed wrongly and no data is retrieved.

Could you able to throw a warning for the User in the framework stating "&" special characters are not allowed.This will help us to resolve the issue caused by data, Sometimes it becomes very hard to i

[2018-04-08 23:35] paulfisher53 opened #81 "Card form: Field Mask"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other

**Current behavior:**

The "number" field mask is not implemented on card pages.

**Expected / new behavior:**

The "number" field should be implemented on card pages (like it is on list pages).

**Minimal reproduction of the problem with instructions:**

Add the field option "number:3" on a decimal field on a card page.

[2018-04-08 23:56] paulfisher53 opened #82 "Xpress User Layout table performance"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

High CPU usage for some SQL queries. Seems to be caused by missing indexes on the `Xpress User Layout` table.

**Expected / new behavior:**

Lower CPU usage for the User Layout query.

**Minimal reproduction of the problem with instructions:**

In SQL management studio, check the most recent expens

[2018-04-09 04:34] paulfisher53 opened #83 "Iteration Plan for Apr 2018"
This plan captures our work in **April**. This is a 3 week iteration. **We will ship late April.**

## Plan Items ##

Below is a summary of the top level plan items. **This list is subject to change.**

### Bugs ###
- [x] Mobile/Tablet View- Unable to type into anyvalue for search textbox #68 @jaffars
- [x] Menu Items not referencing ClientCaption + ProgramCaption #76 @jasonbev
- [x] Xpress User L

[2018-04-20 00:17] paulfisher53 commented on #81
Done. Please load: [Fix-81.zip](https://github.com/ZoomApps/Liveapp/files/1930155/Fix-81.zip)

[2018-04-20 00:28] paulfisher53 commented on #82
Done. Please load fix: [Fix-82.zip](https://github.com/ZoomApps/Liveapp/files/1930181/Fix-82.zip)

@jaffars Can you please load this for Adam?

[2018-04-20 00:37] paulfisher53 commented on #76
Please load this fix: [Fix-76.zip](https://github.com/ZoomApps/Liveapp/files/1930196/Fix-76.zip)

[2018-04-20 01:02] paulfisher53 commented on #77
Done. Please load the `Objects` from this fix first (using the `Object Designer`), then load the `Web Service` files.

[Fix-77.zip](https://github.com/ZoomApps/Liveapp/files/1930256/Fix-77.zip)

[2018-04-20 01:06] paulfisher53 opened #84 "Docs: Table, Page, Field and Column Options"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other

**Current behavior:**

Missing documentation for `Options` values for Tables, Pages, Fields and Columns.

**Expected / new behavior:**

Documentation added for `Options` values for Tables, Pages, Fields and Columns.

**Minimal reproduction of the problem with instructions:**

N/A

**Liveapp version:** 5.5.0

**Browser:**

[2018-04-20 01:24] paulfisher53 commented on #60
My screen looks alright. Am I supposed to click on anything else?

![image](https://user-images.githubusercontent.com/25142601/39025927-5a8cc240-448d-11e8-8021-a6df7b5fa8b8.png)

[2018-04-20 01:28] paulfisher53 commented on #59
I can't seem to replicate this under the jenny.black login. Is this still an issue? If so, what are the exact steps to replicate?

[2018-04-20 01:30] paulfisher53 commented on #68
Closing the issue. If there is a problem, please re-open.

[2018-04-20 01:30] #68 closed, assigned to paulfisher53

[2018-04-20 02:39] jaffars commented on #74
can be closed

[2018-04-20 02:39] #74 closed, assigned to paulfisher53

[2018-04-20 03:33] jaffars commented on #82
Hi Paul,

Will this fix will be available as part of next liveapp release.Since this is a liveapp solution file.

[2018-04-20 19:42] JasonBev commented on #76
Issue resolved

[2018-04-24 00:21] jaffars commented on #77
Hi Paul,

The fix is working but when i run the report i could not able to filter by screen type.Can you add screen type as part of Session Events report filter.

thanks
Jaffar

[2018-04-26 01:26] paulfisher53 commented on #76
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-04-26 01:26] #76 closed, assigned to paulfisher53

[2018-04-26 01:27] paulfisher53 commented on #81
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-04-26 01:27] #81 closed, assigned to paulfisher53

[2018-04-26 01:28] paulfisher53 commented on #82
Hi @jaffars ,

Yeah, this fix will be released at the end of the month via the System solution.

[2018-04-26 01:28] paulfisher53 commented on #82
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-04-26 01:28] #82 closed, assigned to paulfisher53

[2018-04-26 01:39] paulfisher53 commented on #77
Hi @jaffars ,

Please load this page to get the new filter: [PAGE Session Events.zip](https://github.com/ZoomApps/Liveapp/files/1949344/PAGE.Session.Events.zip)

[2018-04-26 01:57] jaffars commented on #77
Fix provided working

[2018-04-26 05:35] paulfisher53 commented on #84
Done. This will be published to the DOCS website on release of v5.5.

[2018-04-26 05:35] #84 closed, assigned to paulfisher53

[2018-04-30 09:27] paulfisher53 commented on #77
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-04-30 09:27] #77 closed, assigned to paulfisher53

[2018-04-30 10:02] paulfisher53 commented on #83
Shipped. Closed.

[2018-04-30 10:02] #83 closed, assigned to paulfisher53

[2018-05-10 23:46] paulfisher53 opened #85 "Iteration Plan for May/June 2018"
This plan captures our work in **May** and **June**. This is a 6 week iteration. **We will ship late June.**

## Plan Items ##

Below is a summary of the top level plan items. **This list is subject to change.**

### Bugs ###
- [x] Double refresh required to load all resources after new version Update #78 @jaffars
- [x] Special character "&" is causing issues in Framework #80 @jaffars

### Feature

[2018-05-23 06:03] paulfisher53 commented on #80
Hi Jaffar,

Rather than stopping input of the ampersand character, I have added a fix to the filtering module in system. Please give it try with this fix: [Fix-80.zip](https://github.com/ZoomApps/Liveapp/files/2029682/Fix-80.zip)

[2018-05-23 06:41] paulfisher53 commented on #78
Hi Jaffar,

Is the site external? If so, can you send me the URL so I can check the debugger

[2018-05-23 07:07] jaffars commented on #78
Can you try this URL.This is a cloud.

https://cims.livewarecloud.com.au/ascent

Jaffar Sadiq | B.COM(Commerce)|
Senior Software Developer |': 02 4921 8333 | 6: 02 4920 8500 |
www.liveware.com.au<http://www.liveware.com.au/> | Suite 9, 29 Smith Street Charlestown NSW 2290 |
[Liveware ERP Email Signature]

From: Paul Fisher <notifications@github.com>
Sent: Wednesday, May 23, 2018 4:42 PM
To: ZoomAp

[2018-05-31 04:17] paulfisher53 commented on #78
Looks like the service worker did not handle 'default' instances. I have added a fix so that a slash (/) is added to the end of the URL when using the 'default' instance.

[Fix-78.zip](https://github.com/ZoomApps/Liveapp/files/2056565/Fix-78.zip)

[2018-05-31 04:17] paulfisher53 commented on #78
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-05-31 04:17] #78 closed, assigned to paulfisher53

[2018-05-31 04:18] paulfisher53 commented on #80
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2018-05-31 04:18] #80 closed, assigned to paulfisher53

[2018-05-31 23:52] jercs opened #86 "Request/Idea - Dynamic Refresh Event viewer.GetPageGrid().OnBind function without data is causing issues in Framework"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] other

**Current behavior:**
The bug we are facing needs to hide some filters / We can only hide the filter using the function viewer.GetPageGrid().OnBind with data on it. so if the user refresh the filter or just do some event in the filter textbox it will refresh the the filter that we need to hide.

**Expected / new behavior:

[2018-06-29 04:14] paulfisher53 commented on #85
Closed. Shipped

[2018-06-29 04:14] #85 closed, assigned to paulfisher53

[2018-06-29 05:40] CaitlinLiveware commented on #45
Hi @paulfisher53 please see attached.
[Xpress Global Search Setup.xlsx](https://github.com/ZoomApps/Liveapp/files/2147901/Xpress.Global.Search.Setup.xlsx)

[2018-07-06 02:22] paulfisher53 opened #87 "New filter view keyword: FILTERFIELD"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other

**Current behavior:**

Currently when using the filter view keyword FIELD, after the filter is merged, it is changed to a CONST. As of v5.6, CONST filters no longer allow filter operators (like | and &).

**Expected / new behavior:**

Add a new keyword called FILTERFIELD, then after the filter is merged, change it to a F

[2018-07-06 06:08] paulfisher53 opened #88 "OPENPAGE Error"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

When passing filters into the OPENPAGE function's second parameter, the system changes them to CONST filters (therefore you cannot use filter operators).

**Expected / new behavior:**

The system should change these filters to FILTER filters.

**Minimal reproduction of the problem with instructions

[2018-07-06 06:15] paulfisher53 commented on #87
Patch: [Fix-87.zip](https://github.com/ZoomApps/Liveapp/files/2169211/Fix-87.zip)

[2018-07-06 06:17] paulfisher53 commented on #88
Patch: [Fix-88.zip](https://github.com/ZoomApps/Liveapp/files/2169215/Fix-88.zip)

[2018-07-08 01:22] paulfisher53 opened #89 "Page error saves invalid page filters"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

After a page error occurs, the page filters are saved to the layout incorrectly.

**Expected / new behavior:**

After a page error occurs, the page filters should save to the layout correctly.

**Minimal reproduction of the problem with instructions:**

Add filters to a page then make an error occu

[2018-07-08 02:15] paulfisher53 commented on #89
Patch: [Fix-89.zip](https://github.com/ZoomApps/Liveapp/files/2173267/Fix-89.zip)

[2018-07-10 01:08] #89 closed, assigned to paulfisher53

[2018-07-10 01:08] #88 closed, assigned to paulfisher53

[2018-07-10 01:08] #87 closed, assigned to paulfisher53

[2018-07-16 01:16] CaitlinLiveware commented on #59
Hi @paulfisher53, I can still replicate. Try in https://cims.livewarecloud.com.au/UAT/# using User = Zoom, Password = Zoomzoom01

Steps to replicate:
On Tablet (Ipad)
![img_1513](https://user-images.githubusercontent.com/25447151/42740305-0ac5bbcc-88e9-11e8-9906-df15d5f063a2.JPG)

1. Navigate to Programs = Emplyment ADE
2. Click on Benjamin Andrews
3. Click on the Progress Note drop down
4. Click

[2018-07-16 01:35] CaitlinLiveware commented on #60
@paulfisher53 Try in https://cims.livewarecloud.com.au/UAT/#
User = Zoom
Steps to replicate:
On Tablet (Ipad) NOTE* You need to have the tablet in landscape.
1. Click Programs Queue
2. Click Multiple Progress Note Action for Employment ADE Program
3. Click 'Select a Shortcut Note'
4. Scroll down and accross and see multiple lines appear all over the screen.

![img_0208](https://user-images.githubu

[2018-07-16 02:31] CaitlinLiveware commented on #59
Sorry I uploaded the wrong attachment before @paulfisher53

https://cims.livewarecloud.com.au/UAT/#

User = Zoom

On Tablet (Ipad)
Navigate to Programs = Emplyment ADE
Click on Benjamin Andrews
Click on the Progress Note drop down
Click the New action
When the Progress Note card is open scroll up and down. It can be difficult to repicate. We haven't found exactly what is the trigger. You need to d

[2019-02-25 23:51] paulfisher53 opened #90 "Disable Auto Complete in Chrome"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

Chrome is registering the Global search field as an address field and if the user has saved addresses then it shows the user their list of saved addresses for them to choose to auto fill. We can get around this by turning off the 'Save and Fill Addresses' setting in Chrome however we would like use

[2019-02-26 00:47] paulfisher53 commented on #90
Please load this fix: [Fix-90.zip](https://github.com/ZoomApps/Liveapp/files/2903244/Fix-90.zip)

[2019-05-29 06:47] CaitlinLiveware opened #91 "Session Stops Pinging Server When User is Active"
**I'm submitting a ...**
- [ X] bug report
- [ ] feature request
- [ ] other <!

**Current behavior:**
User is active in the application however session expires and they are kicked out of the application.

**Expected / new behavior:**
User is active in the application and does not get kicked out of the application.

**Minimal reproduction of the problem with instructions:**
Appears to be random.

[2019-05-30 03:01] adamLiveware commented on #91
@paulfisher53 in an email you said:

We would like that to be a setting built on Liveapp 5.61 if possible. We are working to upgrade to the latest but it will take some time, if we can get the setting in 5.61 then we will be able to fix a lot of problems right away.

[2019-06-03 06:40] paulfisher53 commented on #91
@adamLiveware @CaitlinLiveware

Please merge the below fix with your `bin` folder. Once loaded, you can control the ping timeout with a new setting in your `web.config`.

[code]
I made sure to use version 5.6.1 as you requested.

[Fix-91-v5.6.1.zip](https://github.com/ZoomApps/Liveapp/files/3246164/Fix-91-v5.6.1.zip)

[2019-09-04 02:29] LIvewareNB opened #92 "Issue when user is created with 'SHOW' in the user name"
**I'm submitting a ...**

- [X] bug report
- [ ] feature request
- [ ] other

**Current behavior:**
When you type SHOW in Username field and validate it then shows an error (See attached Screenshot). The current features might be validating it as SHOW() function which should be reading it as string

**Expected / new behavior:**
Type 'Show' into the username  field and ensure no error is produced

[2019-09-04 03:56] LIvewareNB opened #93 "Issue when trying to delete a staff from the roster staff page."
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**
When you select a user in the Roster Staff Page it is not returning the correct User ID / the selected row is not pulling and returning the correct User ID on the edit code section

**Expected / new behavior:**
If a staff member has no shifts assigned to them on a roster they should be able to be de

[2019-09-15 23:31] paulfisher53 commented on #92
Hi @LIvewareNB, we cannot replicate this in our base liveapp product. Are you able to email us credentials to log in so we can debug your app? Please email to paul@zoomapps.com.au

[2019-09-15 23:57] paulfisher53 commented on #92
@LIvewareNB the error is coming from the `RecordSet` server side function. Have you guys overrode that function in your extension?

[2019-09-16 00:22] paulfisher53 commented on #93
Hi @LIvewareNB , the issue here is that you are using the Delete button trigger which runs after the record is deleted. If you want to run code before it is deleted, you need to move your code to the `OnDelete` trigger on the Table.

[2019-09-16 06:26] LIvewareNB commented on #92
Hi Paul, Please see response from Jerick my devloper

![image](https://user-images.githubusercontent.com/54254246/64937263-f34e3f00-d89c-11e9-9cc6-8f987f076dd2.png)

The files outlined in the image can be downloaded using this link:

https://livewaresolutions-my.sharepoint.com/:f:/g/personal/nathanb_liveware_com_au/Ehf20oKx7J9PjY-9dFv6MWEBkRa1XM5f_rtv_7KAac_Oeg?e=EqQmNa

[2019-09-27 04:04] paulfisher53 commented on #93
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2019-09-27 04:04] #93 closed, assigned to nobody

[2019-09-27 04:04] paulfisher53 commented on #91
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2019-09-27 04:04] #91 closed, assigned to paulfisher53

[2019-09-27 04:04] paulfisher53 commented on #90
**Fix/mod is available for this issue**

We are closing this issue as a fix/mod has been supplied.

**NOTE:** If the issue persists, please re-open the issue with the appropriate testing information.

[2019-09-27 04:04] #90 closed, assigned to paulfisher53

[2019-09-27 04:10] paulfisher53 commented on #92
@LIvewareNB You need to check your extension file to see if it overrides the RecordSet function. Your extension will be called something like `Extend.CIMS.dll`

[2019-09-27 05:57] adamLiveware commented on #92
Issue can be closed

[2019-12-19 23:59] CaitlinLiveware opened #94 "Data Integrity Issue"
**I'm submitting a ...**

- [X ] bug report
- [ ] feature request
- [ ] other

**Current behavior:**
I have an record with an insert action in the Xpress Change Log. I also have a record with a status of  success in the Xpress Email Log.  However the corresponding record does not exist in the database.

**Expected / new behavior:**
If I have an record with an insert action in the Xpress Change Log

[2020-01-05 23:09] paulfisher53 commented on #94
Hi Caitlin,

What version of the framework are the clients running? In version 5.20 we fixed an issue where database transactions were getting out of sync (see the fix here https://github.com/ZoomApps/Liveapp/commit/311a5a84c2858be4ec8a5ef5e6f3f35eb74be038#diff-37a007f5f758b6116495d2dda26f7f1c)

[2020-01-05 23:44] adamLiveware commented on #94
v5.17.

Do we need to apply the entire update or can we just update CodeEngine.js?

Adam Shortall
Senior Software Engineer|': 02 4921 8333 |
www.liveware.com.au<https://www.liveware.com.au/> | Suite 9, 29 Smith Street Charlestown NSW 2290 |
[Liveware ERP Email Signature]

From: Paul Fisher <notifications@github.com>
Sent: Monday, 6 January 2020 10:10 AM
To: ZoomApps/Liveapp <Liveapp@noreply.github

[2020-01-06 01:22] paulfisher53 commented on #94
Hi Adam,

You should be safe to just update `CodeEngine.js`

[2020-02-05 01:25] CaitlinLiveware commented on #94
Hi @paulfisher53, we deployed your fix however we are still getting Intel that data integrity is being compromised. For example we have an email that was sent from Live App outlining particular data about a record yet we can't find a matching Xpress_change log entry of that data being inserted into the database. Our client is giving us multiple examples where data that they entered or deleted is e

[2020-02-05 02:33] paulfisher53 commented on #94
@CaitlinLiveware Can you please send me a screenshot of your Change Log Setup page?

[2020-02-05 02:47] CaitlinLiveware commented on #94
Hi Paul,

See below. We have evidence that this behaviour is occurring on multiple tables e.g. RosteredShiftClient, RosteredShifts and Clients tables (noting that we only track certain fields for this table). The main reason why we can substantiate the claim is because we have emails being generated with data from these tables but with no associated change log record.

For example the Clients tabl

[2020-02-05 03:19] paulfisher53 commented on #94
Hi @CaitlinLiveware ,

It sounds like the data is not committed to the database. This is why the email works (it uses uncommitted data) but the data is missing from the table and the change log (as they work off committed data).

You need to look through the app objects for `Application.BeginTransaction` but no matching `Application.CommitTransaction`. It might be easier to export the whole app to

[2020-02-06 03:55] CaitlinLiveware commented on #94
Thanks Paul,

My dev guys are tell me that they are sure there is no Application.BeginTransaction without a matching Application.CommitTransaction and the problem still occurs anyway.

Caitlin Melmeth
Senior Application Consultant  |': 02 4921 8333 | 6: 02 4920 8500 |
www.liveware.com.au<https://urldefense.proofpoint.com/v2/url?u=http-3A__t.sidekickopen05.com_e1t_c_5_f18dQhb0S7lC8dDMPbW2n0x6l2B9nM

[2020-02-09 22:15] paulfisher53 commented on #94
The only other cause would be calling web service methods without returning them into a `$codeblock` or `Application.RunNext`. These are a lot more difficult to find as there are a lot of different web service methods.

They'll need to look for methods in the docs (https://www.liveapp.com.au/Docs/index.html) that return a `JQueryPromise` (like below).

![image](https://user-images.githubuserconten